body {
    font-family: Arial;
    font-size: 14px;
}
.logo {
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: -6px;
    color: #222;
    margin: 50px;
}
.logo .number {
    color: #222;
    opacity: 0.1;
}
.navigation {
    margin-left: 33px;
    width: 60%;
    display: inline-block;
}
.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #222;
    background: #6c6c6c;
    color: #fff;
}
.navigation a:hover {
    color: #222;
    background: transparent;
}
.user_block{
    text-align: right;
    float: right;
    margin-right: 7%;
    margin-top: 20px;
}
.container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 33px;
    width: auto;
}
.container a {
    color: #222;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #fff8f1;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #cccccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #ffffff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}
.footer {
    padding: 20px;
    margin: 33px;
    text-align: right;
    font-size: 11px;
    opacity: 0.5;
}
.footer a {
    color: #454545;
}

.hidden {
    display: none;
    visibility: hidden;
}

.table th{
    background-color: #d3e3fd;
    font-size: 14px;
    text-align: center;
}

.table tr{
    font-size: 14px;
}

.table_t1 td:nth-child(1){
    text-align: center;
    width: 8%;
}
.table_t1 td:nth-child(4),.table_t36 td:nth-child(5),.table_t36 td:nth-child(2),.table_t36 td:nth-child(3){
    text-align: center;
    width: 21%;
}
.table_t1 td:nth-child(6){
    text-align: center;
    width: 8%;
}

.text-bottom{
    vertical-align: bottom;
    text-align: right;
}

.right{
    text-align: right;
}

.normaltext{
    font-size: 16px;
}

#_itogo{
    text-align: right;
}

#form-add-expence{
    display: inline-block;
}

.submit_for_adding{
    margin-top: 15px;
}

.ui-state-default .ui-icon{
    background-image: url("/public/img/ui-icons_777777_256x240.png");
}

    /*
    buttons start ///////////////////////////////////////////
     */
a.button11 {
    position: relative;
    z-index: 1;
    color: black;
    font-size: 135%;
    font-weight: 700;
    text-decoration: none;
    padding: .25em .5em;
}
a.button11:after {
    content: "Выйти";  /* здесь 6 букв */
    position: absolute;
    z-index: -1;
    top: -2px;
    bottom: -2px;
    left: -2px;
    width: calc(100% + 6*(1em*90/135) - 2px*2*2);  /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
    text-align: right;
    color: #fff;
    font-size: 90%;
    padding: .25em .5em;
    border-radius: 5px;
    border: 2px solid #000000;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    background: linear-gradient(#d3d4d3, #000000) no-repeat 100% 0;
    background-size: calc(6*(1em*90/135) + .5em) 100%;
    box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,0);
    transition: .3s;
}
a.button11:hover:after {
    box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
}
a.button11:active:after {
    background-image: linear-gradient(#000000, #d3d4d3);
}

a.button27 {
    position: relative;
    display: inline-block;
    width: auto;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
a.button27:hover {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
a.button27:active {
    background: none;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}

.button28 {
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.button28:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.button28:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}

/*
//////////////////// buttons end
 */